body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#cool_button {
    background: linear-gradient(45deg, #8A2BE2, #4B0082, #483D8B, #6A5ACD);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; /* Abgerundete Ecken */
    transition: background 0.3s; /* Für eine sanfte Hover-Übergang */
}

#cool_button:hover {
    background: linear-gradient(45deg, #4B0082, #483D8B, #6A5ACD, #8A2BE2);
}